@model IEnumerable<ClothesShopDiplom.Models.ProductType>
@{ ViewBag.Title = "Виды одежды"; }
<a asp-action="CreateProductType">Добавить вид</a>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Действия</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Id</td>
        <td>@item.ProductTypeName</td>
        <td>
            <form asp-controller="ProductType" asp-action="Delete" method="post" asp-route-id="@item.Id">
                <input type="submit" value="Удалить" class="btn btn-outline-danger" />
            </form>
        </td>
    </tr>
}
    </tbody>
</table>