@model ClothesShopDiplom.Models.ResetPassword

@{ ViewBag.Title = ""; }
<link rel="stylesheet" href="~/css/MyStyle.css">
<h1 class="titletext2">Сброс пароля</h1>
<form asp-action="ResetPassword" asp-controller="Home">

    <div class="form-group">
        <label>Пароль</label>
        <input placeholder="Введите пароль" asp-for="NewPassword" type="password" class="form-control" />
        <span style="color:red" asp-validation-for="NewPassword"></span>
    </div>

    <div class="form-group">
        <label>Повторите пароль</label>
        <input placeholder="Повторите пароль" asp-for="ConfirmNewPassword" type="password" class="form-control" />
        <span style="color:red" asp-validation-for="ConfirmNewPassword"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>